<div class="list-group list-group-flush pr-3" style="height: 91.5vh; overflow:auto">
  <h2 class="text-white">Questions</h2>
  <a class="list-group-item list-group-item-action text-white-50 bg-dark"
    [routerLink]="qa"
    *ngFor="let i of questions; let j = index"
    routerLinkActive="active"
    [queryParams]="{'q': j+1}">
      Question {{j+1}}
    <ng-template [ngIf]="i.selected">
      <div class="float-right ">
        <img [src]="tick" width="20" height="20">
      </div>
    </ng-template>

    <ng-template [ngIf]="i.flagged">
      <div class="float-right" [ngClass]="{'pr-3' : i.selected}">
        <img [src]="warn" width="25" height="25">
      </div>
    </ng-template>
  </a>
</div>
