<nav class="navbar navbar-expand-md bg-dark navbar-dark shadow">
  <a class="navbar-brand" routerLink="login">SOT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#overflow">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="overflow">
    <ng-template [ngIf]="authService.isAuthenticated() === false">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="sign-up">Sign Up</a>
        </li>
      </ul>
    </ng-template>
    <ng-template [ngIf]="authService.isAuthenticated() === true">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a style="cursor: pointer" class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
