<div class="d-flex flex-row align-content-center ml-xl-5">
  <div class="col-xl-8 col-md-8 col-sm-12 m-auto w-auto">
    <h1>Welcome</h1>
    <h2>Rules:</h2>
    <ul >
      <li>It will contain 10 questions from each subject.</li>
      <li>Each question will have 4 options, 1 of them will be right. Select the right option to score.</li>
      <li>Each question carry 1 mark.</li>
      <li>No Negative marking.</li>
      <li>Time limit will be 30 minutes.</li>
      <li>Use of unfair means in prohibited.</li>
      <li>Test will automatically get submitted as time gets up.</li>
      <li>No Retest will be there.</li>
      <li>Marks will be displayed at the successful submission of test.</li>
      <li>As you click start timer will start.</li>
    </ul>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-lg btn-outline-primary" type="button" (click)="start()">Start Test</button>
</div>


